.conteiner {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.toolBar_list {
  display: flex;
  gap: 10px;
}

.toolBar_item {
  border: 1px solid gray;
  padding: 5px;
  list-style-type: none;
  cursor: pointer;
}

.toolBar_item_active {
  background-color: grey;
  border: 1px solid gray;
  padding: 5px;
  list-style-type: none;
  cursor: pointer;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectItem {
  width: 30%;
  height: auto;
  margin-right: 5px;
  margin-bottom: 5px;
}

