.conteiner {
  display: block;
  width: 60%;
}

.toolBar_list {
  display: flex;
  gap: 10px;
}

.toolBar_item {
  border: 1px solid gray;
  padding: 5px;
  list-style-type: none;
  cursor: pointer;
}

.toolBar_item_active {
  background-color: grey;
  border: 1px solid gray;
  padding: 5px;
  list-style-type: none;
  cursor: pointer;
}

.projectItem {
  display: flex;
  width: auto;
  height: auto;
}